@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fredericka+the+Great&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    background-color: white;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 300;
    color: rgb(15, 119, 119);
}

/* heading and logo */

h1, h2 {
    font-family: 'fredericka the great', sans-serif;
    letter-spacing: 2.5px;
    color: rgb(100, 50, 50);
}

#logo {
    float: left;
    size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    margin-right: 38px
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu, #logo {
    line-height: 80px;
}

#menu a:hover {
    border-bottom: 2px solid teal;
}

.active {
    border-bottom: 2px solid teal ;
}

/* hero image time talks */

#hero-image-time-talks {
    height: 300px;
    width: 100%;
    background: url('../css/images/hero-image-time-talks.jpg');
}