@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poller+One&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    
    font-family: 'Comfortaa', sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: rgb(0, 94, 94);
    
    background-image:url('../css/images/wallpaper.jpeg');
}

/* heading and logo */



h2 {margin-left: 2%;
    text-decoration: underline skyblue;


}


h4 {text-decoration: underline skyblue;
text-decoration-color: rgb(95, 45, 45);}

p { line-height: 35px;}



#logo {
    font-family: poller one;
    float: left;
    font-size: 400%;
    margin-left: 40px;
    padding-top: 2%;
    font-weight: 1100;
    color:teal;
    text-shadow: 1px 1px rgb(95, 45, 45);
}
    
    
   
/* navigation links */

.menu { float: right;
  margin-right: 12.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: inherit;
  }

  .menu a {
    text-decoration: none;
    color: inherit;
    line-height: 30px;
   

}


  
    



.menu a:hover {
    border-bottom: 2px solid rgb(95, 45, 45);
}

.active {
    border-bottom: 2px solid rgb(95, 45, 45);
}

/* hero image time talks */

.hero-image-time-talks {
  
  display:flex;  
    height: 160px;
    width: 100%;
    align-content: stretch;
    border: 5px solid rgb(95, 45, 45);
    border-style: inset;
    margin-bottom: 10px;
    background: url('../css/images/hero-image-time-talks.jpg') no-repeat center center;
    border-radius: 25px
  }

  #line-break {height:60px;}


/* About Time Talks Content */

.container-1 {
  
   
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
 
}

.box-1 {
  background-color: rgb(239, 249, 253);
}

.box-1 p {
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  text-align: justify;
  
}

.box-1 h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.box-1 {  border: 5px solid rgb(95, 45, 45);
  border-radius: 10px;
  width: 100%;
  height: fit-content;
}

.box-1 h4 { 
  text-align: center;
  color:rgb(95, 45, 45);
  text-decoration: underline teal;

}



   

  li {list-style-type: none;
        font-weight: bold;
  }

/* Our time Talk Experts */


.container-2 {
   
   
   
    height: fit-content;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
   
}



/* box container for Time Talk Experts */

.box-2 {  border: 5px solid rgb(95, 45, 45);
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    background-image: url('../css/rolex-daytona-about-background-image.jpeg');

}

/* Time Talk Experts Biography's-Written-Content */

.box-2 p {
    
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: justify;
}

/* Headshots Time Talk Experts */

.shop-photos {
  
  border-radius: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}



.head-shot-speaker {
    border-radius: 35%;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 5px;
    
  
   }

   /* Dates and Times of Talks */

#dates-time-subscribe {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left:40px ;
}

   #dates-time-list {
    margin:auto;
    width: 70%;
    height:150px;
    text-decoration: none;
    padding: 30.33px;
    padding-top: 30px;
    padding-bottom: 30px;
   }

   
 /* Form */
  
 
  .form {

    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
   
  }
  
  .title{
    display: block;
    font-family: inherit;
    margin: 10px auto 5px;

    width: 300px;
  }
 
  .pageTitle{
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
  }
  
  .name {
    background-color: rgb(235, 245, 245);
    color: rgb(95, 45, 45);
  }
 
  .email {
    background-color: rgb(235, 245, 245);
    height: 1.5em;
    color: rgb(95, 45, 45);
  }
  
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: teal;
    font-size: 20px;

  }
  
  
 
  